body {	
	background-image: url("JournalSoftPic.jpg");	
	margin-left: 10%;
	margin-right: 10%;
	/*Exc2*/
}    												

.border{
	border: 5px solid; 
	/*Exc1*/
}


#header {
	border-color: green;   
	/* Exc2*/
	background-color: white; 
	/* Exc4*/
	border: 10px white solid;  					
}


#title img {
	float:left;
	 height:70px; 					
	 width:70px;
}

h2 strong {	
	border-style: none;   
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	border-color: blue;
	/*Exc4*/
}

h2{
	/*Exc4*/
	font-size: 14pt;
	border: 5px solid;  
	border-style: none;		
}

/*Exc2*/
h2 i{
	text-align: center;
	border-style: none;	
	color: green;
}
	
h4{
text-align: right;
}
	
	
#title{ 	
/*Exc3*/
	text-align: right;
	/*Exc4*/
    border-style:none;  
	background-color: #A8F0F0;	
}

.journaltext{
	border-color:blue;		
	/*Exc2*/
	padding: 5px;  				
	background-color: #E8FBFB;
	margin-top: 10px;	
	/*Exc4*/
	border: 4px #C2E9E9 solid;
}



.journaltext img {									
	float: right;
	border: 2px outset #A3E4D7;
	border-radius: 25px;
	/*Exc3*/
}

.subtitle {
	border: 5px solid;					           										
	border-style: none; 
	/*Exc4*/
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	border-color: blue;
}


.text-style {
	clear: right;
	/*Exc3*/
}	

#title{
	clear:left;
}


#footer{
	text-align: right;
}
